#box {
    width: 1341px;
    height:568px;
    background: burlywood;
    margin: auto;
}

.a {
    height:66px;
    background: cadetblue;

}
.b a {
    height: 61px;
    background: whitesmoke;
    text-decoration: none;
    color: black;
    padding: 0 30px 0 20px;

}
.c {
    height: 316px;
    background: rebeccapurple;
}

.c1 {
    height: 316px;
    width: 465px;
    background: red;
    float: left;
}
.c1 a {
    float: right;
    margin-bottom: 30px;
}
.c2 {
    height:316px;
    width: 341px;
    background: yellow;
    float: left;
}
.c3 {
    height: 316px;
    width: 534px;
    background: green;
    float: left;
}