* {
    margin: 0;
    padding: 0;
    list-style: none;
}
#box {
    width: 700px;
    height: 320px;
    margin: 40px auto;

}
#box ul {
    width: 700px;
    height: 320px;

}
#box ul li {
    width: 700px;
    height: 320px;
    border: 2px solid #ccc;
    position: relative;
}
#box ul li p {
    width: 700px;
    height: 40px;
    background: #536ef8 ;
    opacity: 0.5 ;
    position: absolute;
    left: 0;
    bottom: 20px;
    text-align: center;
    line-height: 40px;
    display: none;
}