* {
    margin: 0;
    padding: 0;
    list-style: none;
}
#box {
    width: 1000px;
    height: 500px;
    margin: 200px auto;
}
#box div {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: red;
    margin-left: 100px;
    display: inline-block;
}
#box .a {
    -webkit-animation: a 1s linear infinite alternate;
}
#box .b {
    background: blue;
    -webkit-animation: b 1s linear infinite alternate;
}

@-webkit-keyframes a {
    from{
        -webkit-transform: scale(0.8);
    }
    to{
        -webkit-transform: scale(11);
    }
}
@-webkit-keyframes b {
    from{
        -webkit-transform: scale(11);
    }
    to{
        -webkit-transform: scale(0.8);
    }
}